

/*--------------INICIO DETALLE PEDIDO---------------*/


#div_detalle_pedido{
  background-color: #e9ecef;
  padding: 1% 2%;
  border-radius: 5px;
  color: black;
  margin-bottom: 2em;
}


#infoA{
  background-color: #d4d2d2;
  padding: 1% 2%;
  border-radius: 5px;
  color: black;
  margin-bottom: 2em;
}

#borrar_detalle .icono_borrar_detalle{
  background-color: #64AC7C;
  padding: 1% 10%;
  color: #fff;
  cursor: pointer;
}



#div_detalle_pedido input[type="text"]{
  background-color: #fff;
  border-radius: 0px;
  border:1px solid #d1d1d1;
  padding: 2px 10px;
  width: 100%;
  font-size: 15px;
  margin-bottom: 1em;
  color: #515151;
}

#div_detalle_pedido .referencia{
  width: 80% !important;
}


#div_detalle_pedido input[type="text"]::placeholder{
  color: #64AC7C;

}


#div_detalle_pedido input[type="text"]:focus{
  outline: none;
}



#botones_dtll_pdd input[type="submit"], input[type="button"]{
  background-image: linear-gradient(to right bottom, #038db3, #009ab2, #00a5a6, #00ae90, #2ab572);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: auto;
  font-size: 15px;
  color: #fff;
}



/*--------------FIN DETALLE PEDIDO---------------*/


